eval_hle/datasets/
*.parquet
eval_hle/predictions/**/*.json
eval_hle/predictions/**/*.log
eval_hle/judged/**/*.json
eval_hle/leaderboard/**/*.json*
eval_dna/evaluation_results/**/*.json*
eval_dna/evaluation_results/**/*.csv
train/tests/input/*
train/tests/output/*
train/logs
train/datasets

.env
secrets.env

.venv
.ipynb_checkpoints
__pycache__

.DS_Store
